@model Projekt.Models.Ban

@{
    ViewBag.Title = "Usuwanie bana";
}

    <h2>Usuwanie bana</h2>

<h3>Jesteś pewny że chcesz usunąć tego bana?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serwer.NazwaSerwera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serwer.NazwaSerwera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UzytkownikNazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UzytkownikNazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaGracza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaGracza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowodBana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowodBana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzasBana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasBana)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
