@model Projekt.Models.PanelPomoc

@{
    ViewBag.Title = "Informacje o zgłoszeniu";
}

    <h2>Informacje o zgłoszeniu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serwer.NazwaSerwera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serwer.NazwaSerwera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UzytkownikNazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UzytkownikNazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpisProblemu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisProblemu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktualnyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktualnyStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
