@model Projekt.Models.Ban

@using Projekt.Utils

<tr>



	<td>
		@(Model.Serwer.NazwaSerwera)
	</td>
	<td>
		@(Model.PowodBana)
	</td>
	<td>
		@(Model.CzasBana) min
	</td>
	<td>
		@(Model.NazwaGracza)
	</td>
	<td>
		@(Model.UzytkownikNazwa)
	</td>
</tr>