@model PagedList.IPagedList<Projekt.Models.Uzytkownik>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Uzytkownicy";
}

<h2>Uzytkownicy</h2>


@using (Html.BeginForm("Index", "Uzytkownicy", FormMethod.Get))
{
	<p class="form-control">
		Kogo szukasz? @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
		<input class="btn btn-primary" type="submit" value="Szukaj" />
	</p>
}
<table class="table table-striped">
	<tr>
		<th>
			@Html.ActionLink("Nick", "Index", new { sortOrder = ViewBag.NickSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th>
			@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
		</th>
		<th></th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			@if (item.CzyBanowany)
			{
				<td style="color: red">
					@Html.ActionLink(item.Nick, "Details", new { id = item.ID })
				</td>
			}
			else
			{
				<td>
					@Html.ActionLink(item.Nick, "Details", new { id = item.ID })
				</td>
			}
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@if (Context.User.IsInRole("Administrator") && item.Rola != Projekt.Models.UzytkownikRola.Administrator && !item.Email.Equals(Context.User.Identity.Name))
				{
					@Html.Partial("~/Views/Uzytkownicy/_UzytkownikPartial.cshtml", item)
				}
			</td>
			<td>
				@if (Context.User.IsInRole("Administrator"))
				{
					<a href="/Uzytkownicy/Delete/@(item.ID)">
						<button class="btn btn-danger glyphicon glyphicon-trash" aria-hidden="true">
						</button>
					</a>
				}
			</td>
		</tr>
	}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
